@import './variables.scss';

.el-tiptap-editor {
  $root: &;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  .border-top-radius {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .border-bottom-radius {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &__codemirror {
    display: flex;
    flex-grow: 1;
    overflow: scroll;
    font-size: 16px;
    line-height: 24px;

    .CodeMirror {
      flex-grow: 1;
      height: auto;
    }
  }

  &--fullscreen {
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 500;
    border-radius: 0 !important;

    #{$root}__menu-bar,
    #{$root}__content,
    #{$root}__footer {
      border-radius: 0 !important;
    }
  }

  > #{$root}__content {
    padding: 30px 20px;
    border: 1px solid $lighter-border-color;
    border-top: 0;
    border-bottom: 0;
    flex-grow: 1;
    color: $black-color;
    background-color: $white-color;
  }

  &__menu-bar {
    padding: 5px;
    border: 1px solid $lighter-border-color;
    border-bottom: 0;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    position: relative;
    background-color: $white-color;

    &::before {
      content: '';
      margin: 0 10px;
      height: 1px;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $lighter-border-color;
    }
  }

  &__menu-bubble {
    padding: 5px;
    display: flex;
    position: absolute;
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    background-color: $white-color;
    border-radius: 8px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    transform: translateX(-50%);
    transition: opacity .3s ease-in-out;

    &--active {
      visibility: visible;
      opacity: 1;
    }
  }

  &__menu-floating {
    display: flex;
    position: absolute;
    left: 20px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-14px);
    transition: opacity .1s ease-in-out;
    pointer-events: none;

    & > * {
      opacity: .6;
      transform: scale(0.9);

      &:hover {
        opacity: 1;
      }
    }

    &--active {
      pointer-events: all;
      visibility: visible;
      opacity: 1;
    }
  }

  &__content {
    line-height: 1.7;
    //font-family: sans-serif;
    text-align: left;
    box-sizing: border-box;
    overflow-x: auto;

    > * {
      box-sizing: border-box;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
      outline: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-top: 20px;
      margin-bottom: 20px;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul,
    ol {
      counter-reset: none;
      list-style-type: none;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 24px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0;
    }

    li > p {
      margin: 0;

      &:first-child::before {
        content: counter(el-tiptap-counter) '.';
        margin-left: -24px;
        display: inline-block;
        width: 24px;
        position: relative;
        top: 0;
        left: -5px;
        line-height: 1;
        text-align: right;
      }
    }

    ul li > p {
      &:first-child::before {
        content: '\2022';
        text-align: center;
      }
    }

    ol {
      counter-reset: el-tiptap-counter;

      li > p:first-child::before {
        counter-increment: el-tiptap-counter;
      }
    }

    a {
      color: $primary-color;
      cursor: pointer;
    }

    blockquote {
      margin: 10px 0;
      padding-left: 1em;
      border-left: 5px solid #edf2fc;
      color: $regular-text-color;
      border-radius: 2px;
    }

    code {
      padding: 0 8px;
      display: inline-block;
      color: $primary-color;
      background-color: $lighter-primary-color;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 700;
    }

    pre {
      margin: 10px 0;
      padding: 14px 20px;
      color: $lighter-primary-color;
      background-color: $primary-text-color;
      border-radius: 5px;
      font-size: 16px;
      overflow-x: auto;

      code {
        padding: 0;
        display: block;
        color: inherit;
        background-color: transparent;
        border-radius: 0;
        font-family: 'Menlo,Monaco,Consolas,Courier,monospace';
        font-size: inherit;
        font-weight: normal;
      }
    }

    img {
      margin: 12px 0;
      display: inline-block;
      max-width: 100%;
      float: none;

      &[data-display=inline] {
        margin-right: 12px;
        margin-left: 12px;
      }

      &[data-display=block] {
        display: block;
      }

      &[data-display=left] {
        margin-right: 12px;
        margin-left: 0;
        float: left;
      }

      &[data-display=right] {
        margin-right: 0;
        margin-left: 12px;
        float: right;
      }
    }

    .image-view {
      $root: &;

      margin: 12px 0;
      display: inline-block;
      max-width: 100%;
      float: none;
      line-height: 0;
      vertical-align: baseline;
      user-select: none;

      &--inline {
        margin-right: 12px;
        margin-left: 12px;
      }

      &--block {
        display: block;
      }

      &--left {
        margin-right: 12px;
        margin-left: 0;
        float: left;
      }

      &--right {
        margin-right: 0;
        margin-left: 12px;
        float: right;
      }

      &__body {
        display: inline-block;
        max-width: 100%;
        position: relative;
        clear: both;
        transition: all .2s ease-in;
        outline-style: solid;
        outline-color: transparent;
        outline-width: 2px;

        &:hover {
          outline-color: #ffc83d;
        }

        &--focused:hover,
        &--resizing:hover {
          outline-color: transparent;
        }

        &__placeholder {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }

        &__image {
          margin: 0;
          cursor: pointer;
        }
      }
    }

    .image-resizer {
      border: 1px solid $primary-color;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      &__handler {
        border: 1px solid $white-color;
        display: block;
        width: 12px;
        height: 12px;
        position: absolute;
        z-index: 2;
        background-color: $primary-color;
        border-radius: 2px;
        box-sizing: border-box;

        &--tl {
          top: -6px;
          left: -6px;
          cursor: nw-resize;
        }

        &--tr {
          top: -6px;
          right: -6px;
          cursor: ne-resize;
        }

        &--bl {
          bottom: -6px;
          left: -6px;
          cursor: sw-resize;
        }

        &--br {
          right: -6px;
          bottom: -6px;
          cursor: se-resize;
        }
      }
    }

    ul[data-type=todo_list] {
      margin-left: 5px;

      .todo-item {
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        &[data-text-align=right] {
          justify-content: flex-end !important;
        }

        &[data-text-align=center] {
          justify-content: center !important;
        }

        &[data-text-align=justify] {
          text-align: space-between !important;
        }

        .todo-content {
          padding-left: 10px;

          > p {
            font-size: 16px;

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }

        &--done {
          > .todo-checkbox {
            color: $primary-color;
          }

          > .todo-content > p {
            color: $primary-color;
            text-decoration: line-through;
          }
        }
      }
    }

    hr {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @for $i from 1 through 7 /* max-indent */
    {
      $indent-margin-base: 30px;

      *[data-indent="#{$i}"] {
        margin-left: $indent-margin-base * $i !important;
      }
    }

    .tableWrapper {
      margin: 1em 0;
      overflow-x: auto;
    }

    table {
      table-layout: fixed;
      border-collapse: collapse;
      margin: 0;
      width: 100%;
      overflow: hidden;
    }

    th,
    td {
      padding: 3px 5px;
      border: 2px solid $lighter-border-color;
      min-width: 1em;
      position: relative;
      vertical-align: top;
      box-sizing: border-box;

      &.selectedCell {
        background-color: $extra-light-primary-color;
      }
    }

    th {
      font-weight: 500;
      text-align: left;
    }

    .column-resize-handle {
      width: 4px;
      position: absolute;
      top: 0;
      right: -2px;
      bottom: 0;
      z-index: 20;
      background-color: $light-primary-color;
      pointer-events: none;
    }

    .iframe {
      padding-bottom: 56.25%;
      width: 100%;
      height: 0;
      position: relative;

      &__embed {
        border: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .iframe-view {
      $root: &;

      margin: 12px 0;
      display: inline-block;
      max-width: 100%;
      float: none;
      line-height: 0;
      vertical-align: baseline;
      user-select: none;

      &--inline {
        margin-right: 12px;
        margin-left: 12px;
      }

      &--block {
        display: block;
      }

      &--left {
        margin-right: 12px;
        margin-left: 0;
        float: left;
      }

      &--right {
        margin-right: 0;
        margin-left: 12px;
        float: right;
      }

      &__body {
        display: inline-block;
        max-width: 100%;
        position: relative;
        clear: both;
        transition: all .2s ease-in;
        outline-style: solid;
        outline-color: transparent;
        outline-width: 2px;

        &:hover {
          outline-color: #ffc83d;
        }

        &--focused:hover,
        &--resizing:hover {
          outline-color: transparent;
        }

        &__placeholder {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }

        &__embed {
          margin: 0;
          cursor: pointer;
          pointer-events: none;
        }
      }
    }

    .iframe-resizer {
      border: 1px solid $primary-color;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      &__handler {
        border: 1px solid $white-color;
        display: block;
        width: 12px;
        height: 12px;
        position: absolute;
        z-index: 2;
        background-color: $primary-color;
        border-radius: 2px;
        box-sizing: border-box;

        &--tl {
          top: -6px;
          left: -6px;
          cursor: nw-resize;
        }

        &--tr {
          top: -6px;
          right: -6px;
          cursor: ne-resize;
        }

        &--bl {
          bottom: -6px;
          left: -6px;
          cursor: sw-resize;
        }

        &--br {
          right: -6px;
          bottom: -6px;
          cursor: se-resize;
        }
      }
    }

    .resize-cursor {
      cursor: ew-resize;
      cursor: col-resize;
    }
  }

  &__footer {
    padding: 10px;
    border: 1px solid $lighter-border-color;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $white-color;
    font-family: sans-serif;
    font-size: 14px;
  }

  .ProseMirror {
    outline: 0;

    &-focused {
      .el-tiptap-editor__placeholder.el-tiptap-editor--empty:first-child:before,
      .el-tiptap-editor__with-title-placeholder:first-child:before,
      .el-tiptap-editor__with-title-placeholder:nth-child(2):before {
        opacity: 0;
      }
    }
  }

  &__placeholder {
    &.el-tiptap-editor--empty:first-child::before {
      content: attr(data-empty-text);
      height: 0;
      float: left;
      color: $placeholder-text-color;
      transition: .1s ease;
      pointer-events: none;
    }
  }

  &__with-title-placeholder {
    &:nth-child(1)::before,
    &:nth-child(2)::before {
      content: attr(data-empty-text);
      height: 0;
      float: left;
      color: $placeholder-text-color;
      pointer-events: none;
    }
  }

  &__characters {
    color: lighten($regular-text-color, 20%);
  }

  &__icon {
    display: flex;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
